
        
        <main>
            <h1>Your orders</h1>
            <div class="orders">
                {{#each orders}}
                <div class="order">
                    <span class="order-time">{{dateF}}</span>
                    <span class="order-name">{{product.category}} doner, {{product.size}} cm</span>
                    <span class="order-status">{{status}}</span>
                    <a href="/order/details/{{_id}}" class="button order-button">Details</a>
                </div>
                {{else}}
                No orders mate!
                {{/each}}
            </div>
        </main>
   