
<div class="content">
            <img src="{{memeSrc}}" alt=""/>
            <h3>Title  {{title}}</h3>
            <p> {{description}}</p>
            
            <button>
                <a href="{{memeSrc}}" download="{{title}}.jpg" >Download Meme</a>
            </button>
            <button>
                <a href="/api/Delete/{{_id}}">Delete</a>
            </button>
</div>

