<article class="post">
    <div class="col rank">
        <span>{{rank}}</span>
    </div>
    <div class="col thumbnail">
        <a href="{{url}}">
            <img src="{{imageUrl}}">
        </a>
    </div>
    <div class="post-content">
        <div class="title">
            <a href="{{url}}">
                {{title}}
            </a>
        </div>
        <div class="details">
            <div class="info">
                submitted {{submitTime}} ago by {{author}}
            </div>
            <div class="controls">
                <ul>
                    <li class="action"><a class="commentsLink" href="#/comments/:{{_id}}">comments</a></li>
                    {{#if isAuthor}}
                    <li class="action"><a class="editLink" href="#/edit/:{{_id}}">edit</a></li>
                    <li class="action"><a class="deleteLink" href="#/delete/:{{_id}}">delete</a></li>
                    {{/if}}
                </ul>
            </div>

        </div>
    </div>
    <div class="clear"></div>
</article>