{{> header}}
{{> menu}}
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>
            {{#if isFollowed}}
                <a id="btnFollow" class="chirp-author" href="#/unfollow/:{{username}}">Unfollow</a>
            {{else}}
                <a id="btnFollow" class="chirp-author" href="#/follow/:{{username}}">Follow</a>
            {{/if}}

            <div id="userProfileStats" class="user-details">
                <span>{{chirpsC}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}} followers</span>
            </div>
        </div>
        <div id="profileChirps" class="chirps"><h2 class="titlebar">Chirps</h2>
           {{#each chirps}}
               {{> chirp}}
               {{else}}
               no chirps
               {{/each}}
        </div>
    </div>
{{> footer}}